        #ecran {
            margin: 10px;
            width: 90%;
            border-radius: 5px;
            height: 25px;
        }

        .container {
            width: 300px;
            border: solid 1px rgb(79, 93, 252);
            padding: 10px;
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
        }

        .button {
            border-radius: 5px;
            border: solid 1px black;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }