.x0 {
    left: 0px;
}

.x1 {
    left: 25px;
}

.x2 {
    left: 50px;
}

.x3 {
    left: 75px;
}

.x4 {
    left: 100px;
}

.x5 {
    left: 125px;
}

.x6 {
    left: 150px;
}

.x7 {
    left: 175px;
}

.x8 {
    left: 200px;
}

.y0 {
    top: 0px
}

.y1 {
    top: 37.5px;
}

.y2 {
    top: 75px;
}

.y3 {
    top: 112.5px;
}

.y4 {
    top: 150px;
}

.y5 {
    top: 187.5px;
}

.y6 {
    top: 225px;
}